# Terraform directories
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Sensitive variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Lock file
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

